
/* .addStle{
    color: brown;
    background-color: black;
}
.addStles{
    color:darkslategray ;
    background-color: #5dfa29;
} */


/* .gallery {
  text-align: center;
  margin-top: 50px;
}
img {
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}
button {
  margin: 10px;
  padding: 8px 15px;
  cursor: pointer;
} */
